* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #FFF5D6;
}


/* Navbar */
nav {
    background-color: #84BFC3;
    color: white;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav h1 {
    font-size: 1.8rem;
    margin: 0;
    text-align: center;
    flex-grow: 1;
    position: static;
   
    
}


nav .emoji {
    margin-left: 15px;
    font-size: 2rem;
    color: #FFB870;
}


/* Contêiner principal */
#carrinho-container {
    max-width: 800px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


/* Lista do carrinho */
#lista {
    list-style: none;
    padding: 0;
    margin: 20px auto;
}


#lista li {
    background: #f8f9fa;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Total */
#total {
    font-size: 1.5rem;
    color: #333;
    margin: 20px 0;
}


/* Botão de pedido */
button {
    background-color: #D96153;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #B75047;
}


/* Mensagem de pedido confirmado */
#pedido {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: #000511;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}


/* Ícone de fechar */
#sc {
    margin-left: 10px;
    background: transparent;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

@media (max-width: 480px) {
    nav h1 {
        font-size: 1.1rem;
    }

    #pedido {
        font-size: 0.9rem;
        padding: 10px;
    }
}